<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" type="png" href="./Images/head_logo.png">
    <title>Seychelles Bank (Pvt) Ltd.</title>
    <link rel="stylesheet" href="./Styles/registration_form.css">
</head>

<body>
    <div class="card border-primary reg_card">
        <div class="card-header">
            <h4>Customer Registration Form</h4>
        </div>
        <div class="card-body">
            <form action="#" method="POST">
                <div class="form-group row">
                    <label for="full_name" class="col-form-label ml-3">Full Name</label>
                    <div class="col-lg col-sm">
                        <input type="text" id="full_name" name="full_name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name_with_initials" class="col-form-label ml-3">Name with Initials</label>
                    <div class="col-lg-5 col-sm">
                        <input type="text" id="name_with_initials" name="name_with_initials" class="form-control"
                            required>
                    </div>
                    <label for="age" class="col-form-label ml-3">Age</label>
                    <div class="col-lg-1 col-sm-1">
                        <input type="number" id="age" name="age" class="form-control" required>
                    </div>
                    <label for="dob" class="col-form-label ml-3">Date of Birth</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="date" id="dob" name="dob" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="perm_address" class="col-form-label ml-3">Permanent Address</label>
                    <div class="col-lg col-sm">
                        <input type="text" id="perm_address" name="perm_address" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zip_code" class="col-form-label ml-3">Zip Code</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" id="zip_code" name="zip_code" class="form-control" required>
                    </div>
                    <label for="nic" class="col-form-label ml-3">NIC Number</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" id="nic" name="nic" class="form-control" required>
                    </div>
                    <div>
                        <label for="inlineRadioOptions" class="col-form-label ml-3">Gender</label>
                        <div class="form-check form-check-inline ml-4">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male"
                                value="male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female"
                                value="female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="other_gender"
                                value="other_gender">
                            <label class="form-check-label" for="other_gender">Others</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contact" class="col-form-label ml-3">Contact Number</label>
                    <div class="input-group col-lg-2 col-sm-2 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="contact_code">(+248)</span>
                        </div>
                        <input type="tel" id="contact" name="contact" class="form-control" pattern="[0-9]{3}-[0-9]{4}"
                            placeholder="123-4567" required aria-describedby="contact_code">
                    </div>
                    <label class="my-2 ml-3" for="acc_type">Preference</label>
                    <div class="col-lg-2 col-sm-2">
                        <select class="custom-select" id="acc_type" name="acc_type" required>
                            <option selected>Select Account Type...</option>
                            <option value="savings">Savings</option>
                            <option value="current">Current</option>
                        </select>
                    </div>
                    <label for="username" class="col-form-label ml-3">Username</label>
                    <div class="col-lg-2 col-sm-2">
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label ml-3">Email</label>
                    <div class="col-lg-7 col-sm-7">
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <label class="my-2 ml-3" for="branch">Branch</label>
                    <div class="col-lg-2 col-sm-2">
                        <select class="custom-select" id="branch" name="branch" required>
                            <option value="default">Select the Branch...</option>
                            <!-- Populate the array "arr" in "branch.js" from the data in the database. -->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check" required>
                        <label class="form-check-label" for="agree_check">Agree to Terms and Conditions</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </form>
        </div>
    </div>
    <footer class="bottom">Seychells Bank (Pvt) Ltd. - Version 1.0.0 © 2020 | <a href="">Visit Us</a></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./Scripts/branch.js"></script>
</body>